*.o
examples/chap8/main/Main
examples/chap8/main/Top.o
examples/chap8/SECD/Comp.o
examples/chap8/main/Main.o
examples/chap8/parser/CoreML.grm.o
examples/chap8/parser/CoreML.lex.o
examples/chap8/parser/Parser.o
examples/chap8/parser/Syntax.o
examples/chap8/parser/TypedSyntax.o
examples/chap8/SECD/Value.o
examples/chap8/SECD/Instruction.o
examples/chap8/SECD/Exec.o
examples/chap8/wasm_text_emitter/Comp.o
examples/chap8/wasm_text_emitter/WasmModule.o
examples/chap8/typeinf/UnifyTy.o
examples/chap8/typeinf/TypeUtils.o
examples/chap8/typeinf/Typeinf.o
examples/chap8/typeinf/Type.o
examples/chap8/SECD/Value.o
examples/chap8/main/Top.o
